.design .copy {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  text-align: left;
  top: 46%;

  left: 52%;
}

.design .copy p {
  margin-left: 3em;
  margin-top: 0.75em;
}

.design .copy h1 {
  font-size: 14.8em;
}
@media (max-width: 640px) {
  .design .copy {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    top: 59.25%;
    gap: 3.5em;
    left: 67%;
    height: 45em;
  }
  .design .copy h1 {
    font-size: 13em;
  }
  .design .copy p {
    font-size: 3.2em;
    margin: 0;
    position: absolute;
    top: 12em;
    right: 6em;
  }
}
