.square {
  position: absolute;
  transition: all 1000ms ease;
}
.ts1 {
  top: 16em;
  left: 61em;
  width: 8em;
}

.square:hover {
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  transition: all 100ms ease;
}

.extra:hover {
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
}

.r1c1 {
  width: 10em;
  top: 0em;
  left: 0em;
}

.r1c2 {
  width: 8em;
  top: 0em;
  left: 9.5em;
}

.r1c3 {
  width: 9em;
  top: 0em;
  left: 17.5em;
}

.r1c4 {
  width: 9.5em;
  top: 0em;
  left: 26.3em;
}

.r1c5 {
  width: 9em;
  top: 0em;
  left: 35em;
}

.r1c6 {
  width: 9em;
  top: 0em;
  left: 43.5em;
}

.r1c7 {
  width: 9em;
  top: 1.5em;
  left: 52em;
}

.r1c8 {
  width: 9em;
  top: 0em;
  left: 60em;
}

.r1c9 {
  width: 8em;
  top: 0em;
  left: 69em;
}

.r1c10 {
  width: 8em;
  top: 1em;
  left: 78em;
}

.r1c11 {
  width: 8em;
  top: 0em;
  left: 86em;
}
.r1c12 {
  width: 8em;
  top: 1em;
  left: 95em;
}

.r1c13 {
  width: 8em;
  top: 0em;
  left: 104em;
}
.r1c14 {
  width: 9em;
  top: 0em;
  left: 112em;
}

.r1c15 {
  width: 9em;
  top: 0em;
  left: 121em;
}

.r1c16 {
  width: 9em;
  top: 0em;
  left: 130em;
}
.r1c17 {
  width: 9.5em;
  top: 0em;
  left: 138em;
}

.r1c18 {
  width: 9em;
  top: 0em;
  left: 147em;
}

.r1c19 {
  width: 6.5em;
  top: 0em;
  left: 155em;
}

.r1c20 {
  width: 3em;
  top: 0em;
  left: 162em;
}

.r1c21 {
  width: 8em;
  top: 0em;
  left: 165em;
}

.r1c22 {
  width: 8em;
  top: 0em;
  left: 165em;
}

.r1c23 {
  width: 9em;
  top: 0em;
  left: 173em;
}

.r1c24 {
  width: 9em;
  top: 0em;
  left: 182em;
}

/* ROW 2 */

.r2c1 {
  width: 8em;
  top: 8em;
  left: 1em;
}

.r2c2 {
  width: 9em;
  top: 7em;
  left: 9em;
}

.r2c3 {
  width: 8.5em;
  top: 8em;
  left: 18em;
}

.r2c4 {
  width: 8.5em;
  top: 8em;
  left: 26em;
}
.r2c5 {
  width: 9em;
  top: 8em;
  left: 34.5em;
}

.r2c6 {
  width: 6em;
  top: 8.5em;
  left: 43em;
}
.r2c7 {
  width: 9em;
  top: 8.5em;
  left: 52em;
}
.r2c8 {
  width: 8em;
  top: 8em;
  left: 62em;
}

.r2c9 {
  width: 8em;
  top: 8em;
  left: 69em;
}

.r2c10 {
  width: 9em;
  top: 7em;
  left: 78em;
}

.r2c11 {
  width: 9em;
  top: 7em;
  left: 85em;
}

.r2c12 {
  width: 9em;
  top: 7em;
  left: 94em;
}
.r2c13 {
  width: 9em;
  top: 7em;
  left: 102.25em;
}
.r2c14 {
  width: 9em;
  top: 8em;
  left: 111em;
}
.r2c15 {
  width: 9em;
  top: 8.5em;
  left: 120em;
}
.r2c16 {
  width: 9em;
  top: 8.5em;
  left: 129em;
}
.r2c17 {
  width: 9em;
  top: 7.5em;
  left: 138em;
}

.r2c18 {
  width: 9em;
  top: 7.5em;
  left: 146em;
}
.r2c19 {
  width: 9em;
  top: 7.5em;
  left: 155em;
}
.r2c20 {
  width: 9em;
  top: 8.5em;
  left: 164em;
}
.r2c21 {
  width: 9em;
  top: 8.5em;
  left: 173em;
}
.r2c22 {
  width: 9em;
  top: 8.5em;
  left: 181em;
}
.r2c23 {
  width: 1.5em;
  top: 7.5em;
  left: 190em;
}

/* ROW 3 */

.r3c1 {
  width: 8em;
  top: 17em;
  left: 1.5em;
}

.r3c2 {
  width: 9em;
  top: 17em;
  left: 9em;
}

.r3c3 {
  width: 9em;
  top: 16em;
  left: 18em;
}

.r3c4 {
  width: 7em;
  top: 17em;
  left: 28em;
}

.r3c5 {
  width: 9em;
  top: 16em;
  left: 35em;
}

.r3c6 {
  width: 8em;
  top: 17em;
  left: 45em;
}
.r3c7 {
  width: 9em;
  top: 16em;
  left: 139em;
}
.r3c8 {
  width: 9em;
  top: 16em;
  left: 147em;
}
.r3c9 {
  width: 9em;
  top: 15em;
  left: 155em;
}
.r3c10 {
  width: 9em;
  top: 15em;
  left: 164em;
}
.r3c11 {
  width: 10em;
  top: 15em;
  left: 173em;
}
.r3c12 {
  width: 9em;
  top: 16em;
  left: 183em;
}

/* ROW 4 */

.r4c1 {
  width: 10em;
  top: 25em;
  left: 0.5em;
}
.r4c2 {
  width: 9em;
  top: 25em;
  left: 9.5em;
}

.r4c3 {
  width: 7em;
  top: 26em;
  left: 19.5em;
}

.r4c4 {
  width: 7em;
  top: 25em;
  left: 27.5em;
}

.r4c5 {
  width: 9em;
  top: 25em;
  left: 35em;
}
.r4c6 {
  width: 9em;
  top: 24.5em;
  left: 43.5em;
}

.r4c7 {
  width: 9em;
  top: 24.5em;
  left: 51.5em;
}
.r4c8 {
  width: 9em;
  top: 24.5em;
  left: 60.5em;
}
.r4c9 {
  width: 10em;
  top: 24.5em;
  left: 69.5em;
}
.r4c10 {
  width: 10em;
  top: 24.5em;
  left: 77.5em;
}
.r4c11 {
  width: 9em;
  top: 24.5em;
  left: 85.5em;
}
.r4c12 {
  width: 9em;
  top: 24.5em;
  left: 94.5em;
}
.r4c13 {
  width: 9em;
  top: 24.5em;
  left: 102.5em;
}
.r4c14 {
  width: 9em;
  top: 24.5em;
  left: 51.5em;
}
.r4c14 {
  width: 9em;
  top: 24.5em;
  left: 111.5em;
}
.r4c15 {
  width: 9em;
  top: 24.5em;
  left: 120.5em;
}
.r4c16 {
  width: 9em;
  top: 24.5em;
  left: 128.5em;
}
.r4c17 {
  width: 9em;
  top: 24.5em;
  left: 136.5em;
}
.r4c18 {
  width: 9em;
  top: 23.5em;
  left: 146.5em;
}
.r4c19 {
  width: 9em;
  top: 23.5em;
  left: 163.5em;
}
.r4c20 {
  width: 9em;
  top: 23.5em;
  left: 155.5em;
}
.r4c21 {
  width: 9em;
  top: 22.5em;
  left: 173.5em;
}
.r4c22 {
  width: 9em;
  top: 24.5em;
  left: 181.5em;
}
.r4c23 {
  width: 3em;
  top: 23.5em;
  left: 188.5em;
}

/* ROW 5 */

.r5c1 {
  width: 9em;
  top: 32.5em;
  left: 0.5em;
}

.r5c2 {
  width: 9em;
  top: 32.5em;
  left: 8.5em;
}

.r5c3 {
  width: 9em;
  top: 32.5em;
  left: 17.5em;
}

.r5c4 {
  width: 9em;
  top: 32.5em;
  left: 26.5em;
}

.r5c5 {
  width: 9em;
  top: 32.5em;
  left: 34.5em;
}

.r5c6 {
  width: 9em;
  top: 32.5em;
  left: 43.5em;
}

.r5c7 {
  width: 9em;
  top: 32.5em;
  left: 51.5em;
}
.r5c8 {
  width: 9em;
  top: 32.5em;
  left: 60.5em;
}
.r5c9 {
  width: 10em;
  top: 32.5em;
  left: 68.5em;
}
.r5c10 {
  width: 9em;
  top: 32.5em;
  left: 119.5em;
}
.r5c11 {
  width: 9em;
  top: 32.5em;
  left: 129.5em;
}
.r5c12 {
  width: 9em;
  top: 32.5em;
  left: 138.5em;
}
.r5c13 {
  width: 9em;
  top: 32em;
  left: 147.5em;
}
.r5c14 {
  width: 9em;
  top: 34.5em;
  left: 155.5em;
}
.r5c15 {
  width: 9em;
  top: 33.5em;
  left: 163.5em;
}
.r5c16 {
  width: 9em;
  top: 32.5em;
  left: 172.5em;
}
.r5c17 {
  width: 8em;
  top: 32.5em;
  left: 181.5em;
}
.r5c18 {
  width: 4em;
  top: 32.5em;
  left: 187.5em;
}

/* ROW 6 */

.r6c1 {
  width: 9em;
  top: 41.5em;
  left: 0.5em;
}

.r6c2 {
  width: 9em;
  top: 41.5em;
  left: 8.5em;
}

.r6c3 {
  width: 9em;
  top: 41.5em;
  left: 17.5em;
}

.r6c4 {
  width: 9em;
  top: 41.5em;
  left: 26.5em;
}

.r6c5 {
  width: 9em;
  top: 40.5em;
  left: 34.5em;
}
.r6c6 {
  width: 9em;
  top: 41.5em;
  left: 43.5em;
}
.r6c7 {
  width: 9em;
  top: 41.5em;
  left: 51.5em;
}
.r6c8 {
  width: 9em;
  top: 41.5em;
  left: 60.5em;
}
.r6c9 {
  width: 9em;
  top: 41.5em;
  left: 69.5em;
}
.r6c10 {
  width: 9em;
  top: 41.5em;
  left: 120.5em;
}
.r6c11 {
  width: 9em;
  top: 41.5em;
  left: 129.5em;
}
.r6c12 {
  width: 10em;
  top: 40.5em;
  left: 137.5em;
}
.r6c13 {
  width: 10em;
  top: 40.5em;
  left: 147.5em;
}
.r6c14 {
  width: 10em;
  top: 41.5em;
  left: 154.5em;
}
.r6c15 {
  width: 10em;
  top: 40.5em;
  left: 162.5em;
}
.r6c16 {
  width: 10em;
  top: 41.5em;
  left: 171.5em;
}
.r6c17 {
  width: 10em;
  top: 41.5em;
  left: 179.5em;
}
.r6c18 {
  width: 10em;
  top: 40.5em;
  left: 137.5em;
}
.r6c19 {
  width: 4em;
  top: 40.5em;
  left: 187.5em;
}

/* ROW 7 */

.r7c1 {
  width: 9em;
  top: 50.5em;
  left: 1.5em;
}
.r7c2 {
  width: 9em;
  top: 50.5em;
  left: 8.5em;
}

.r7c3 {
  width: 9em;
  top: 50em;
  left: 17em;
}

.r7c4 {
  width: 9em;
  top: 50em;
  left: 26em;
}
.r7c5 {
  width: 9em;
  top: 48.75em;
  left: 35em;
}
.r7c6 {
  width: 9em;
  top: 48.75em;
  left: 43.5em;
}
.r7c7 {
  width: 9em;
  top: 48.75em;
  left: 52.5em;
}
.r7c8 {
  width: 9em;
  top: 49.75em;
  left: 60.5em;
}
.r7c9 {
  width: 9em;
  top: 48.75em;
  left: 69.5em;
}
.r7c10 {
  width: 9em;
  top: 48.75em;
  left: 77.5em;
}
.r7c11 {
  width: 9em;
  top: 48.75em;
  left: 86.5em;
}
.r7c12 {
  width: 9em;
  top: 49.75em;
  left: 94.5em;
}
.r7c13 {
  width: 9em;
  top: 48.75em;
  left: 102.5em;
}
.r7c14 {
  width: 10em;
  top: 49.75em;
  left: 111.5em;
}
.r7c15 {
  width: 9em;
  top: 48.75em;
  left: 120.5em;
}
.r7c16 {
  width: 9em;
  top: 48.75em;
  left: 129.5em;
}
.r7c17 {
  width: 9em;
  top: 48.75em;
  left: 138.5em;
}
.r7c18 {
  width: 9em;
  top: 48.75em;
  left: 147.5em;
}
.r7c19 {
  width: 9em;
  top: 46.75em;
  left: 155.5em;
}
.r7c20 {
  width: 9em;
  top: 47.75em;
  left: 164.5em;
}
.r7c21 {
  width: 9em;
  top: 47.75em;
  left: 173.5em;
}
.r7c22 {
  width: 9em;
  top: 48.75em;
  left: 181.5em;
}
.r7c23 {
  width: 2.4em;
  top: 48.75em;
  left: 189.5em;
}

/* ROW 8 */
.r8c1 {
  width: 9em;
  top: 57.75em;
  left: 0.5em;
}
.r8c2 {
  width: 9em;
  top: 57.75em;
  left: 10.5em;
}
.r8c3 {
  width: 9em;
  top: 57.25em;
  left: 17.5em;
}
.r8c4 {
  width: 9em;
  top: 57.25em;
  left: 26.5em;
}
.r8c5 {
  width: 9em;
  top: 57.25em;
  left: 34.5em;
}
.r8c6 {
  width: 8em;
  top: 57.25em;
  left: 43.5em;
}
.r8c7 {
  width: 8em;
  top: 57.25em;
  left: 52.5em;
}
.r8c8 {
  width: 8em;
  top: 57.25em;
  left: 61.5em;
}
.r8c9 {
  width: 8em;
  top: 57.25em;
  left: 70.5em;
}
.r8c10 {
  width: 8em;
  top: 57.25em;
  left: 78.5em;
}
.r8c11 {
  width: 8em;
  top: 57.25em;
  left: 86.5em;
}
.r8c12 {
  width: 9em;
  top: 56.25em;
  left: 94.5em;
}
.r8c13 {
  width: 9em;
  top: 56.25em;
  left: 103.5em;
}
.r8c14 {
  width: 9em;
  top: 56.25em;
  left: 111.5em;
}
.r8c15 {
  width: 9em;
  top: 56.25em;
  left: 120.5em;
}
.r8c16 {
  width: 9em;
  top: 56.25em;
  left: 129.5em;
}
.r8c17 {
  width: 9em;
  top: 56.25em;
  left: 138.5em;
}
.r8c18 {
  width: 9em;
  top: 56.25em;
  left: 147.5em;
}
.r8c19 {
  width: 11em;
  top: 56em;
  left: 155.5em;
}
.r8c20 {
  width: 9em;
  top: 56.25em;
  left: 165.5em;
}
.r8c21 {
  width: 9em;
  top: 56.25em;
  left: 173.5em;
}
.r8c22 {
  width: 9em;
  top: 56em;
  left: 181.5em;
}
.randomResizeGrow {
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  transition: all 1000ms ease;
}

@media (max-width: 640px) {
  .randomResizeGrow {
    transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
  }
}
