.mr1c1 {
  top: 1em;
  width: 6.5em;
  left: 21.5em;
}

.mr1c2 {
  top: 0.5em;
  width: 6.5em;
  left: 48.5em;
}

.mr2c1 {
  top: 7em;
  width: 6.5em;
  left: 7.5em;
}

.mr2c2 {
  top: 7em;
  width: 6.5em;
  left: 35.5em;
}

.mr3c1 {
  top: 45em;
  width: 6.5em;
  left: 35.5em;
}

.mr4c1 {
  top: 53em;
  width: 6.5em;
  left: 14.5em;
}

.mr5c1 {
  top: 59em;
  width: 6.5em;
  left: 28.5em;
}

.mr6c1 {
  top: 65em;
  width: 7em;
  left: 7.5em;
}

.mr6c2 {
  top: 65em;
  width: 7em;
  left: 21em;
}

.mr6c3 {
  top: 65em;
  width: 7em;
  left: 55em;
}

.mr7c1 {
  top: 71.5em;
  width: 6.5em;
  left: 22em;
}
